.popup__form {
  background-color: #ffffff;
  width: 430px;
  display: flex;
  flex-direction: column;
  padding: 34px 0 37px;
  box-sizing: border-box;
  border-radius: 10px;
}

@media screen and (max-width: 550px) {
  .popup__form {
    width: 282px;
    padding: 25px 0;
  }
}
