@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");

.page {
  display: flex; /*Если контента будет меньше высоты страницы*/
  min-height: 100vh; /*Если контента будет меньше высоты страницы*/
  flex-direction: column;
  background-color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  /*сглаживание шрифтов*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 880px;
  margin: 0 auto;
}

.content {
  flex-grow: 1; /*Если контента будет меньше высоты страницы*/
}

.header {
  width: 100%;
  margin: 0 auto;
  padding-top: 45px;
  max-height: 120px;
  display: flex;
  flex-direction: column;
}

.header__logo {
  max-width: 142px;
  max-height: 33px;
  margin-bottom: 41px;
}

.header__line {
  opacity: 0.7;
  height: 0.1px;
  background-color: #545454;
}

.profile {
  padding: 40px 0 50px;
  display: grid;
  grid-template-columns: 120px minmax(min-content, 336px) 1fr;
  gap: 30px;
}

.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}

.profile__add-button {
  background: transparent url("../images/plus.svg") center no-repeat;
  background-size: 22px 22px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  justify-self: end;
  align-self: center;
}

.profile__add-button:hover {
  opacity: 0.6;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}

.profile__info {
  max-height: 73px;
  align-self: center;
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-rows: 39px 18px;
  gap: 16px 18px;
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #ffffff;
  margin: 0;
}

.profile__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
}

.profile__edit-button {
  background: transparent url("../images/edit-button.svg") center no-repeat;
  background-size: 10px 10px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  align-self: center;
  margin-top: 17px; /*чтобы подровлять относительно направляющей текста*/
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}

.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
}

.elements__element {
  background-color: #ffffff;
  border-radius: 3%;
  width: 282px;
  height: 361px;
}

.elements__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.elements__description {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: 0 auto;
  margin-top: 22px;
}

.elements__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  text-overflow: ellipsis; /*набор свойств реализ. многоточие при переполнении*/
  white-space: nowrap; /*набор свойств реализ. многоточие при переполнении*/
  overflow: hidden; /*набор свойств реализ. многоточие при переполнении*/
  width: 185px;
}

.elements__like-button {
  background: transparent url("../images/like.svg") center no-repeat;
  width: 22px;
  height: 19px;
  border: 0;
  padding: 0;
  align-self: center;
}

.elements__like-button_active {
  background-image: url("../images/like-active.svg");
}

.elements__like-button:hover {
  opacity: 0.5;
}

.footer {
  width: 100%;
  padding: 66px 0 60px;
  margin: 0 auto;
}

.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

.popup {
  display: none;
  background-color: rgba(0, 0, 0, 0.5); /**/
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popup_opened {
  display: flex;
}

.popup__container {
  position: relative; /* чтобы от него позиционировалась кнопка закрытия*/
  margin-top: -318px;
}

.popup__form {
  background-color: #ffffff;
  /*width: 100vw;*/
  width: 430px;
  display: flex;
  flex-direction: column;
  padding: 34px 0 37px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.popup__title {
  width: 358px;
  margin: 0 auto 54px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  height: 23px;
}

.popup__input {
  width: 358px;
  margin: 0 auto 30px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 8px;
  text-overflow: ellipsis; /*набор свойств реализ. многоточие при переполнении*/
  white-space: nowrap; /*набор свойств реализ. многоточие при переполнении*/
  overflow: hidden; /*набор свойств реализ. многоточие при переполнении*/
}

.popup__save-button {
  width: 358px;
  margin: 18px auto 0;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border: 0;
  border-radius: 2px;
}

.popup__save-button:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}

.popup__close-button {
  background: transparent url("../images/Close-Icon.svg") center no-repeat;
  width: 32px;
  height: 32px;
  border: 0;
  padding: 0;
  background-size: 32px 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}

@media screen and (max-width: 934px) {
  .header {
    width: calc(100% - 54px);
  }

  .profile {
    width: calc(100% - 54px);
    margin-left: auto;
    margin-right: auto;
  }

  .elements {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: calc(100% - 114px);
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    width: calc(100% - 54px);
    padding: 48px 0 36px;
  }
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    width: 50px;
  }

  .profile__info {
    max-height: 54px;
    grid-template-columns: 1fr 18px;
    grid-template-rows: 26px 14px;
    gap: 14px 10px;
    justify-self: start;
  }

  .profile__name {
    font-size: 34px;
    line-height: 40px;
  }

  .profile__description {
    font-size: 16px;
    line-height: 19.5px;
  }

  .elements {
    width: calc(100% - 48px);
    gap: 20px 10px;
  }
}

@media screen and (max-width: 630px) {
  .profile__add-button {
    width: 30px;
    height: 30px;
    background-size: 16px 16px;
  }

  .elements {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .profile {
    grid-template-columns: 90px minmax(min-content, 336px) 1fr;
    gap: 15px;
  }

  .profile__avatar {
    max-width: 90px;
    max-height: 90px;
  }

  .profile__info {
    max-height: 54px;
    grid-template-columns: 1fr 18px;
    grid-template-rows: 26px 14px;
    gap: 14px 10px;
    justify-self: start;
  }

  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    /*padding-left: 27px;*/
  }

  .profile__description {
    font-size: 14px;
    line-height: 17px;
    /*text-align: center;*/
  }

  .profile__edit-button {
    background-size: 7.5px 7.5px;
    width: 18px;
    height: 18px;
    margin-top: 11px; /*чтобы подровлять относительно направляющей текста*/
  }
  .popup__container {
    margin-top: -468px;
  }

  .popup__form {
    width: 282px;
    padding: 25px 0;
  }

  .popup__title {
    width: 238px;
    margin: 0 auto 73px;
    font-size: 18px;
    line-height: 22px;
  }

  .popup__input {
    width: 238px;
  }

  .popup__save-button {
    width: 238px;
    margin: 15px auto 0;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }

  .popup__close-button {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    top: -37px;
    right: 0;
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: 100%;
    padding-top: 28px;
  }

  .header__logo {
    max-width: 103.74px;
    max-height: 24.4px;
    margin-left: 27px;
    margin-bottom: 31.6px;
  }

  .profile {
    width: 100%;
    padding: 42px 0 36px;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 54px 50px;
    justify-items: center;
    gap: 26px;
    min-height: 286px;
  }

  .profile__avatar {
    max-width: 120px;
    max-height: 120px;
  }

  .profile__add-button {
    justify-self: center;
    margin-top: 20px;
    width: calc(100% - 38px);
    height: 50px;
    padding: 15px 131px;
  }
  .profile__info {
    justify-self: center;
  }

  .profile__name {
    padding-left: 27px;
  }

  .profile__description {
    text-align: center;
  }

  .elements {
    width: calc(100% - 38px);
  }

  .footer {
    width: calc(100% - 38px);
  }

  .footer__text {
    font-size: 14px;
    line-height: 17px;
  }
}
